@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap");

:root {
  --black-color: #414141;
  --black-light-color: #414141;
  --gray-color: #b7b7b7;
  --gray-light-color: #e2e2e2;
  --white-color: #ffffff;
  --orange-color: #e36900;
  --inactive-gray-color: #707070;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

.hide {
  display: none !important;
}

article {
  padding: 10px;
}

section.gallery_wrapper {
  display: grid;
  grid-template-columns: 40% 1fr;
  column-gap: 20px;
}

div.photos_property a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

div.photos_property a span {
  color: var(--inactive-gray-color);
  font-weight: 500;
}

div.photos_property a img {
  height: 34px;
  width: 34px;
  transform: rotate(90deg);
}

div.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60vh 20vh;
  gap: 10px;
  margin-top: 10px;
}

div.gallery img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

div.photo_active {
  position: relative;
}

div.photo_active label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
  box-shadow: 0px 3px 12px #65656545;
  border-radius: 6px;
  height: 30px;
  width: 160px;
  background: white;
}

div.photo_active label img {
  width: 28px;
  height: 28px;
}

div.photo_active label span {
  font-size: 12px;
  color: var(--inactive-gray-color);
  font-weight: 500;
}

div.list_photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  position: relative;
}

div.list_photos button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
  box-shadow: 0px 3px 12px #65656545;
  border-radius: 6px;
  height: 40px;
  width: 210px;
  background: white;
  cursor: pointer;
  border: none;
  outline: none;
}

div.list_photos button:active {
  transform: scale(0.98);
}

div.list_photos button img {
  width: 28px;
  height: 28px;
  transform: rotate(-90deg);
}

div.list_photos button span {
  font-size: 14px;
  color: var(--inactive-gray-color);
  font-weight: 500;
}

div.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

div.header div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5px;
}

div.name {
  align-items: flex-start;
}

div.price {
  align-items: flex-end;
}

div.header h3 {
  font-weight: bold;
  color: var(--black-color);
}

div.header p {
  font-weight: 500;
  font-size: 16px;
}

div.name h3 {
  font-size: 24px;
}

div.name p {
  color: var(--inactive-gray-color);
}

div.price h3 {
  font-size: 20px;
  background: #ebebeb;
  padding: 0 10px;
}

div.price p {
  color: var(--black-light-color);
}

div.service_datail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  column-gap: 1px;
  background: var(--gray-light-color);
  padding: 1px;
  margin-top: 20px;
}

div.service_datail div {
  display: flex;
  width: 100%;
  background: white;
  padding: 10px 0;
  justify-content: center;
}

div.service_datail div img {
  width: 34px;
  height: 34px;
}

div.service_datail div p {
  color: var(--black-light-color);
  font-size: 14px;
  font-weight: 500;
}

div.service_datail div p span {
  display: block;
  font-size: 12px;
  font-weight: 500;
}

div.pay_project {
  background: #f2f2f2;
  height: 80px;
  padding: 20px 0;
  display: grid;
  place-items: center;
}

div.pay_project button {
  background: var(--orange-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 3px 12px #e3690046;
  border-radius: 6px;
  border: none;
  outline: none;
  height: 45px;
  padding: 0 20px;
  cursor: pointer;
}

div.pay_project button:active {
  transform: scale(0.98);
}

div.info_property {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.form_pay {
  background: #f2f2f2;
  padding: 0 40px;
}

div.form_pay form > div:nth-child(1) {
  background: var(--orange-color);
  width: 100%;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;
}

div.form_pay form > div h3 {
  color: white;
  font-weight: bold;
}

div.form_pay form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  overflow: hidden;
  background: white;
  padding-bottom: 20px;
  box-shadow: 0px 10px 30px #00000029;
}

div.form_pay > button {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

div.form_pay > button span {
  color: var(--inactive-gray-color);
  font-weight: 500;
}

div.form_pay > button img {
  height: 34px;
  width: 34px;
  transform: rotate(90deg);
}

div.form_pay form .form_inputs {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  width: 100%;
  padding: 0 40px;
}

div.form_pay form .form_inputs div {
  display: grid;
  grid-template-columns: 140px 1fr;
  column-gap: 10px;
}

div.form_pay form .form_inputs label {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

div.form_pay form .form_inputs button {
  background: var(--orange-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 220px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 10px;
}

div.form_pay form .form_inputs button:active {
  transform: scale(0.98);
}

div.form_pay form .form_inputs button span {
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

div.form_pay form .form_inputs label span {
  font-size: 12px;
  font-weight: 500;
  color: var(--black-color);
}

div.form_pay form .form_inputs label input {
  height: 32px;
  padding: 0 10px;
}

div.form_pay form .form_inputs label textarea {
  padding: 10px;
}

div.form_pay form .form_inputs label input,
div.form_pay form .form_inputs label textarea {
  border: none;
  outline: none;
  box-shadow: inset 0px 0px 10px #00000048;
  border: 2px solid #e2e2e2;
  border-radius: 6px;
  resize: none;
}

div.options_detail {
  margin: 20px 0;
  height: 100%;
}

div.options_detail nav {
  position: relative;
  width: 80%;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

div.options_detail nav label {
  display: grid;
  place-items: center;
  height: 40px;
  text-align: center;
  padding: 0 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  color: var(--gray-color);
  background: white;
  box-shadow: 0px 0px 10px #0000001a;
  font-weight: bold;
}

div.options_detail input[type="radio"] {
  display: none;
}

div.options_detail div .content {
  display: none;
  background: white;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 3px 30px #0000001a;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  padding: 20px 40px;
  height: 250px;
}

div.options_detail ul.services {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  position: relative;
}

div.options_detail ul.services li {
  display: flex;
  align-items: center;
}

div.options_detail ul.services li p {
  font-size: 12px;
  font-weight: 500;
  color: var(--black-color);
}

div.options_detail ul.services > p {
  position: absolute;
  top: 80%;
  left: 0;
  font-size: 12px;
  font-weight: 300;
}

div.options_detail ul.services > p > span {
  font-weight: 500;
  font-size: 12px;
}

div.options_detail ul.services li img {
  width: 50px;
  height: 50px;
}

div.options_detail ul.prices {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

div.options_detail ul.prices li {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

div.options_detail ul.prices li p {
  font-size: 14px;
  font-weight: 500;
  color: var(--black-color);
}

#description:checked ~ nav label.description,
#details:checked ~ nav label.details,
#finance:checked ~ nav label.finance {
  color: var(--orange-color);
  box-shadow: 0px -10px 20px #0000001a;
}

#description:checked ~ div .content-3,
#details:checked ~ div .content-4,
#finance:checked ~ div .content-5 {
  display: flex;
}

section.characteristics_wrapper {
  display: grid;
  grid-template-columns: 50% 1fr;
  column-gap: 40px;
  margin-top: 40px;
}

div.characteristics_nav nav {
  position: relative;
  width: 80%;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

div.characteristics_nav nav label {
  display: grid;
  place-items: center;
  height: 40px;
  text-align: center;
  padding: 0 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  color: var(--gray-color);
  background: white;
  box-shadow: 0px 0px 10px #0000001a;
  font-weight: bold;
}

div.characteristics_nav input[type="radio"] {
  display: none;
}

div.characteristics_nav div .content {
  display: none;
  background: white;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 3px 30px #0000001a;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  padding: 20px 40px;
  height: 400px;
}

#characteristics:checked ~ nav label.characteristics,
#blueprints:checked ~ nav label.blueprints {
  color: var(--orange-color);
  box-shadow: 0px -10px 20px #0000001a;
}

#characteristics:checked ~ div .content-1,
#blueprints:checked ~ div .content-2 {
  display: flex;
}

.content-1 > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  column-gap: 20px;
}

.content-1 > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-1 > div > div img {
  height: 34px;
  width: 34px;
}

.content-1 > div > div span {
  font-size: 14px;
  font-weight: 500;
  color: var(--black-color);
  width: 100px;
}

div.bank > div {
  background: white;
  display: flex;
  margin-top: 40px;
  border-radius: 9px;
  flex-direction: column;
  align-self: center;
  height: 320px;
  width: 350px;
  text-align: center;
  box-shadow: 0px 0px 20px #00000029;
  overflow: hidden;
}

div.bank > div h3 {
  background: #9d9d9d;
  height: 60px;
  line-height: 60px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

div.bank > div > img {
  width: 300px;
  height: 180px;
  object-fit: contain;
  margin: 0 auto;
}

div.bank > div button {
  background: var(--orange-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  padding-right: 10px;
  margin: 0 auto;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0px 3px 12px #65656545;
}

div.bank > div button:active {
  transform: scale(0.98);
}

div.bank > div button span {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  color: white;
}

section.map_wrapper {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

section.map_wrapper h3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--black-color);
}

section.map_wrapper p {
  font-size: 16px;
  font-weight: 100;
  color: var(--black-color);
}

#map {
  height: 300px;
  width: 100%;
  position: relative;
}

#map .marker {
  position: absolute;
  height: 50px;
  width: 120px;
  box-shadow: 0px 3px 10px #00000052;
  border-radius: 6px;
  background: white;
  z-index: 1;
  top: calc(250px / 2);
  left: calc(calc(100% - 120px) / 2);
  display: grid;
  place-items: center;
  font-size: 16px;
  color: var(--black-color);
  font-weight: bold;
}

#map .marker::after {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  z-index: 10;
  background: white;
  bottom: -10px;
  transform: rotate(45deg);
}

div.arrow_controls {
  display: none;
}

div.photo_active > span {
  display: none;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

div.modal_gallery {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 2;
  left: 0;
  top: 0;
  place-items: center;
  overflow: hidden;
}

div.modal_gallery .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

div.modal_gallery .options a,
div.modal_gallery .options button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  column-gap: 10px;
}

div.modal_gallery .options button {
  background: transparent;
  border: none;
  border: none;
  outline: none;
  cursor: pointer;
}

div.modal_gallery .options button span {
  color: white;
}

div.modal_gallery .options a:nth-child(1) span {
  font-size: 14px;
  font-weight: 500;
}

div.modal_gallery .options a span,
div.modal_gallery .options span {
  color: white;
  font-size: 16px;
  font-weight: 300;
}

div.modal_gallery .carrousel {
  display: flex;
  flex-direction: column;
  height: 100%;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
  width: 100%;
}

div.modal_gallery .carrousel > img {
  width: 80%;
  border-radius: 6px;
}

div.modal_gallery .carrousel .arrows_controls {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

div.modal_gallery .carrousel .arrows_controls button {
  width: 46px;
  height: 46px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
}

div.modal_gallery .carrousel .arrows_controls button:active {
  transform: scale(0.98);
}

div.modal_gallery .carrousel .arrows_controls button:nth-child(1) img {
  transform: rotate(90deg);
}

div.modal_gallery .carrousel .arrows_controls button:nth-child(2) img {
  transform: rotate(-90deg);
}

div.modal_gallery .carrousel .option button {
  cursor: pointer;
  height: 46px;
  width: 46px;
  border-radius: 6px;
  position: absolute;
}

@media only screen and (max-width: 420px) {
  article {
    width: 100vw;
  }

  div.modal_gallery {
    display: none;
  }

  section.gallery_wrapper {
    display: flex;
    flex-direction: column;
  }

  div.list_photos {
    display: none;
  }

  div.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  section.characteristics_wrapper {
    display: flex;
    flex-direction: column;
  }

  div.service_datail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px;
  }

  div.options_detail nav {
    max-width: 90%;
    column-gap: 10px;
  }

  div.options_detail nav label {
    padding: 0 10px;
    font-size: 12px;
  }

  div.characteristics_nav nav label {
    font-size: 12px;
  }

  div.bank > div {
    margin: auto;
    margin-top: 30px;
    width: 100%;
  }

  div.characteristics_nav div .content {
    padding: 20px 0;
    height: 500px;
  }

  .content-1 > div {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }

  .content-1 > div > div span {
    width: 120px;
  }

  div.options_detail div .content {
    padding: 20px;
    height: 350px;
  }

  div.options_detail ul.services {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 50px;
  }

  div.options_detail ul.services > p {
    top: 85%;
  }

  div.price h3 {
    font-size: 14px;
    padding: 10px;
  }

  div.form_pay {
    padding: 0 10px;
  }

  div.form_pay form .form_inputs div {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    row-gap: 10px;
  }

  div.photo_active {
    position: relative;
  }

  div.photo_active > span {
    display: block;
    background: rgba(0, 0, 0, 0.6);
    right: 10px;
    bottom: 10px;
    position: absolute;
    font-size: 14px;
    color: white;
    padding: 8px 10px;
    border-radius: 6px;
  }

  div.arrow_controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    align-items: center;
    height: 100%;
    padding: 0 10px;
  }

  div.arrow_controls button {
    background: white;
    border: none;
    outline: none;
    border-radius: 6px;
    height: 34px;
    width: 34px;
  }

  div.arrow_controls button:active {
    transform: scale(0.98);
  }

  div.arrow_controls button:nth-child(1) img {
    transform: rotate(90deg);
  }

  div.arrow_controls button:nth-child(2) img {
    transform: rotate(-90deg);
  }
}
